{{define "product"}}
    <div class="card">
        <img class="img-card" src="{{.Img}}" alt="image object">
        <div class="object">
            <h4><b> {{.Title}}</b></h4>
            <a href="/tenders/{{.Id}}" id="button-url">Подробнее</a>
        </div>
    </div>

{{end}}
